

ul {
	list-style-image: url(bullets.png);
}

body {
  font-family: "Comic Neue", cursive;
  font-weight: 400;
  font-style: normal;
}

body {
	  background-image: url("Dot.png");
	  background-repeat: repeat; 
	  background-color: #FCE997;
	  padding: 30px;
	  border: 10px double;
	  border-radius: 30px;
	  border-color: #CFA242;
} 

p { 
	text-align: justify;
		}

h2 {
		letter-spacing: 10px;
		color: white;
		background-color: #E0B048;
		text-transform: uppercase;
		width: 80%;
 		border: 5px solid #CFA242;
  	padding: 5px;
 		margin: 2px;
 		text-align: center;
 		opacity: 80%;
			}

hr {
	border-top: 1px dashed #E0B048;
	border-block: 1px dashed #E0B048;
}

img {
	border: 4px solid #E0B048;
}

a:link, a:visited, a:active {color: brown}

a:hover {color:#CFA242}

/* ADD YOUR CUSTOM CSS TO THIS FILE BELOW */

.header {
	transform: rotateX(150deg);
}

.btn-secondary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #E0B048;
    --bs-btn-border-color: #E0B048;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #E0B048;
    --bs-btn-hover-border-color: #E0B048;
    --bs-btn-focus-shadow-rgb: 130, 138, 145;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #E0B048;
    --bs-btn-active-border-color: #E0B048;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #E0B048;
    --bs-btn-disabled-border-color: #E0B048;
}
